<!-- Modal: Startup Spotlight iframe 4-9-2020 - V3 - Kanban task -->
<div class="modal fade" id="modalStartupSpotlight1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-lighter">
      <div class="modal-body">

        <!-- Header -->
        <div class="row">
          <div class="col">

            <!-- Prettitle -->
            <h6 class="text-uppercase text-muted mb-3">
              <a href="#index.html" class="text-reset">Aircrft</a>
            </h6>

            <!-- Title -->
            <h2 class="mb-2">
              Startup spotlight
            </h2>

            <!-- Subtitle 
            <p class="text-muted mb-0">
              Discover startups solving the world's most challenging problems.
            </p> -->

            <p class="text-center mb-3">
              <img src="assets/img/posts/aircrft-post-img-2-homepage-4-2-2020.png" alt="..." class="img-fluid rounded">
            </p> 

          </div>
          <div class="col-auto">

            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          
          </div>
        </div> <!-- / .row -->

        <!-- Divider -->
        <hr class="my-4">

        <!-- Card -->
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
    
            <!-- Subtitle -->
            <p class="text-muted mb-0">
              Discover. Learn more. Support. 
            </p>
            
            <!-- <p class="text-muted mb-0">
              Aircrft startup spotlight list: Discover mission driven startups solving the world's most challenging problems. Discover. Learn more. Support.
            </p> -->
                    
                    <!-- Title 
                    <h4 class="card-header-title"> <img src="assets/img/aircrft-logo-clean.png" alt="aircrft-logo">
                    </h4> -->
    
                  </div>
                  <div class="col-auto">
    
                    <!-- Button -->
                    <a href="#!" class="btn btn-sm btn-white">
                      Submit startup
                    </a> 
                    
                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="card-body">
    
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #1</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight is is added #2</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution: Align card text?
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #3</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #4</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #5</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>                

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #6</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>
                
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #7</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>                

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #8</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-1.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #9</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Problem: micro loans | Solution:
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund this startup
                        </a>
                        <a href="#!" class="dropdown-item">
                          Download app
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
                <!-- Divider -->
                <hr>                

                <div class="row align-items-center">
                  <div class="col-auto">
                    
                    <!-- Avatar -->
                    <a href="project-overview.html" class="avatar">
                      <img src="assets/img/files/file-4.jpg" alt="..." class="avatar-img rounded">
                    </a>
    
                  </div>
                  <div class="col ml-n2">
    
                    <!-- Title -->
                    <h4 class="card-title mb-1">
                      <a href="project-overview.html">Startup spotlight #10</a>
                    </h4>
    
                    <!-- Time -->
                    <p class="card-text small text-muted">
                      Bio tech
                    </p>
                    
                  </div>
                  <div class="col-auto">
                    
                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Learn more
                        </a>
                        <a href="#!" class="dropdown-item">
                          Fund
                        </a>
                        <a href="#!" class="dropdown-item">
                          Share
                        </a>
                      </div>
                    </div>
                    
                  </div>
                </div> <!-- / .row -->
    
              </div>
            </div>        

        <!-- Card 
        <div class="card">
            <div class="card-body">
              <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                  <span aria-hidden="true">×</span>
                </div>
  
              </div>
            </div>
          </div> -->

        <!-- Card 
        <div class="card">
          <div class="card-body">
            <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
                <span aria-hidden="true">×</span>
              </div>

            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>