@@if (demoMode) {
<!-- Modal: Demo -->
@@include("modal-demo.html")
}

<!-- Modal: Members -->
@@include("modal-members.html")

<!-- Modal: Search -->
@@include("modal-search.html")

<!-- Modal: Activity -->
@@include("modal-activity.html")

<!-- Modal: Kanban task -->
@@include("modal-kanban-task.html")

<!-- Modal: Kanban task -->
@@include("modal-kanban-task-empty.html")

<!-- Modal: Founders Feed -->
@@include("modal-founders-feed.html")

<!-- Modal: Startup Spotlight -->
@@include("modal-startup-spotlight.html")

<!-- Modal: Startup Ghost iframe -->
@@include("modal-founders-feed-2.html")
